%h1 New location
= form_for([:group, :lunch, @location]) do |l|
  %div
    = l.label :restaurant
    %br/
    = l.text_field :restaurant
  %div
    = l.label :style
    %br/
    = l.select(:style, options_for_select([["take out", "take_out"], ["eat in", "eat_in"]]), { :include_blank => true })
  %div= l.submit "Create"
